//solutions:

solutions/**

//test:

test/classesTestMe.js
test/extendingClassesTestMe.js

//prototypes:

prototypes/prototypes.md


//hacking:

oop/classes/hacking.md
oop/classes/hack.md

//bugs:
bugs/bugs21.js
bugs/bugs22.js
bugs/bugs23.js
bugs/bugs24.js
bugs/bugs25.js
bugs/bugs26.js
bugs/bugs27.js
bugs/bugs28.js
bugs/bugs29.js
bugs/bugs30.js
bugs/bugs31.js
bugs/bugs32.js
bugs/bugs33.js
bugs/bugs34.js
bugs/bugs35.js
bugs/bugs36.js
bugs/bugs37.js
bugs/bugs38.js
bugs/bugs39.js
bugs/bugs40.js

//linkedList:

oop/linkedList.md
oop/linkedList.js
