//solutions:

solutions/**

//test:

test/classesTestMe.js
test/extendingClassesTestMe.js

//prototypes:

prototypes/prototypes.md


//hacking:

oop/classes/hacking.md
oop/classes/hack.md

//bugs:
bugs/bugs18.js

//linkedList:

oop/linkedList.md
oop/linkedList.js
